body {
    --size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: var(--size);
    padding: calc(var(--size)*1.5);
    background-color: rgb(73,73,73);
}

.box {
    perspective: 1000px;
    display: grid;
    grid-template-columns: 20% auto;
}

.note {
    text-align: center;
    padding: calc(var(--size)*2.5/2) 0;
}

.panel{
    display: grid;
    grid-template-columns: 33% 33% auto;
    gap:calc(var(--size)*0.25);
    width: calc(var(--size)*5);
    height: calc(var(--size)*7);
    transform: rotateY(0deg);
    transition: transform 350ms ease-in;
}

.cell {
    border: 1px solid white;
    border-radius: calc(var(--size)*0.25);
    text-align: center;
    padding: calc(var(--size)*2.5/2) 0;
    transition: transform 350ms ease-in;
    opacity: 0.8;
}

.nw {
    background-color: #C73885;
}

.n {
    background-image: linear-gradient(to right, #C73885, #C7C138);
}

.ne {
    background-color: #C7C138;
}

.w {
    background-image: linear-gradient(to bottom, #C73885, #38C77A);
}

.e {
    background-image: linear-gradient(to bottom, #C7C138, #383EC7);
}

.sw {
    background-color: #38C77A;
}

.s {
    background-image: linear-gradient(to right, #38C77A, #383EC7);
}

.se {
    background-color: #383EC7;
}

.cell:hover {
    transform: scale(1.25);
    background-blend-mode:lighten;
    z-index: 5;
}